body {
  font-family: 'PT Sans', sans-serif;
  margin: 0 auto;
  padding-top: 5px;
  padding-left: 60px;
}


html {
  background: url(/css/fondo.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}


#header h1{
  color: #000000;
  font-size: 25pt;
  text-decoration:underline;
  margin-left: 550px;
  margin-top:40px;
}

#content {
  background: url("error.jpg") no-repeat scroll 0;
  margin-top: 50px;
  margin-left: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 400px;
}

#content p{
  color: #000000;
  font-size: 18pt;
  margin-left: 550px;
  margin-right: 95px;
  margin-top:40px;
  background-color:#CCFF99;
  padding-left:5px;
}

#pie{
  height: 40px;
  background-color: #333;
  color: #fff;
  text-align: center;
  clear: both;
  margin-left: -60px;
}

#pie p{
  padding-top: 10px;
}









