body {
font-family: 'PT Sans', sans-serif;
margin: 0 auto;
padding-top: 20px;
padding-left: 60px;
}


html {
background: url(/css/fondo.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}


#header ul li a:hover {
   background-color:#CCFF66;
   cursor: pointer;
}



ul {
margin: 0;
list-style: none;
}


li {
display: inline;
padding-left: 15px;
font-weight:600;
text-decoration:underline;

}


#header {
background: url("logo.jpg") no-repeat scroll 0;
margin-top: 10px;
padding-top: 99px;
padding-bottom: 20px;
}


#header ul{
padding-left: 250px;
color: #000000;
font-size: 17pt;
}



#header ul li a {
text-decoration: none;
color:#000000;
}



